
<div class="jumbotron">
    <h1>Hello, world!</h1>
    <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <p><%= link_to "Singn up now!", "", class: "btn btn-primary btn-lg" %></p>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4">
          <div class="caption">
            <h3>View recipes as a guest user</h3>
            <p>Browse and view recipes as a guest and sign up later.</p>
            <p><%= link_to "Browse recipes lists", recipes_path, class: "btn btn-primary" %>
            </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="caption">
            <h3>Some option</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
          </div>
        </div>
        <div class="col-sm-6 col-md-4">
          <div class="caption">
            <h3>Some option</h3>
            <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
            <p><a href="#" class="btn btn-primary" role="button">Button</a> </p>
          </div>
        </div>
    </div>
</div>